@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
body {
    background: rgb(0,183,255);
    background: linear-gradient(180deg, rgba(0,183,255,1) 0%, rgba(0,194,255,1) 60%);
}
#hofud {
    width:100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
}
#bloonlogo {
    max-height: 65%;
    max-width: 65%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#navbar{
    position:fixed;
    color:white;
    z-index: 1;
    font-family: 'Luckiest Guy', cursive;
    background-color: rgb(113, 155, 74);
    width:100vw;
    max-width:100%;
}
.textcenter {
    text-align: center;
}
.rightbackground {
    background-color: rgb(255, 235, 181);
    margin:auto;
    padding-top:30px;
    padding-bottom:20px;
}
#articles {
    background-color: rgb(255, 235, 181);
    display:grid;
    grid-template-rows: auto auto;
    grid-row-gap: 6%;
    padding-bottom: 32%;
}
.gridcolumn {
    text-align: right;
    width:60%;
    margin: auto;
    display:grid;
    grid-template-columns: auto auto;
    grid-gap:50px;
    grid-template-rows: auto;
}
.gridrow {
    display:grid;
}

p{
    font-size: 16pt;
}
.gridimage {
    width:36em;
}
#xqc {
    width:16em;
}
.gridcolumn2 {
    text-align: left;
    width:60%;
    margin: auto;
    display:grid;
    grid-template-columns: auto auto;
    grid-gap:50px;
    grid-template-rows: auto;
}
  .fotur {
      color:white;
      padding-bottom:3%;
      padding-top:3%;
      background-color: rgb(34, 34, 34);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
    font-size: large;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    margin: 0;
    padding: 16px 16px;
    transition: background 0.25s ease-in-out;
    text-decoration: none;
  }
  li a:hover {
    margin: 0;
    background-color: rgb(86, 116, 59);
  }
  .fit {
      height:18px;
      overflow: hidden;
  }

  .lol{
      margin-left: 15%;
      margin-right: 15%;
      margin-bottom: 10%;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .vertmiddle {
      vertical-align: middle;
  }
  #fyrrsig {
      padding-bottom:3%;
  }